<ng-container *ngIf="!isReady">
    <p>Cargando... {{ progress*100 }}%</p>
    <p>v0.5.9 - Actualizado 01-mar-2021 3:05pm</p>
</ng-container>
  
<div #unityEl id="gameContainer" 
      style="display: block; max-width: 75%; max-height: 75%; margin: auto;">
</div>

<ng-template #contentImg let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Examen físico: {{ examenFisico }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <img [src]="imgUrl" style="display: block; margin: auto">
    </div>
    <!--Footer innecesario
    <div class="modal-footer">
    </div>
    -->
</ng-template>

<ng-template #contentAudio let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Examen físico: {{ examenFisico }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <audio style="display: block; margin: auto;" [src]="audioUrl" controls autoplay muted>
            Su navegador no puede reproducir este audio. Por favor use Google Chrome para una mejor experiencia.
        </audio>
    </div>
    <!--Footer innecesario
    <div class="modal-footer">
    </div>
    -->
</ng-template>